<%= form_for Comment.new, url: {controller: :comments, action: :create} do |f| %>
<p id="comment-name">
	<%= f.label :name %>
	<%= f.text_field :name %><br>
</p>
<p id="comment-body">
	<%= f.label :body %>
	<%= f.text_field :body %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>