<%= form_for Comment.new, url: {controller: :comments, action: :create} do |f| %>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :body %>
	<%= f.text_field :body %>
</p><br>
<p>
	<%= f.submit %>
</p>
<% end %>