<!DOCTYPE html>
<html>
<head>
	<title>Firstapp</title>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "application", 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">			
		<div id ="logo">
			<%= image_tag "kasa.jpg" , size: "60x45" %>  				
		</div>		
		<Ul>
			<li class="category">website</li>
			<li><%= link_to "Blog", root_path %></li>
		</Ul>
		<ul>
			<li class ="category"></li>			 
			<li><a href="mailto:fredyliby@verizon.net">Email</a></li>
			<li><a href="https://github.com/fredyliby">Github</a></li>
		</ul>
	</div>
	<div class="container">
		<nav class="navbar">
		<ul>
			<li>
				<div>
					<button class="buttons"><%= link_to "New-post", new_post_path %></button>
				</div>
			</li>
		<li>
			<div>
				<button class="buttons"><%= link_to "Log out" %></button>			
			</div>
		</li>
	<li>
		<div>
			<button class="buttons"><%= link_to "Sign up", user_session_path %></button>
		</div>
	</li>
	<li>
		<div>
			<button class="buttons"><%= link_to "Log in", new_user_session_path %></button>
		</div>
	</li>
		<li>
			<div>
				<button class="buttons"><%= link_to "All Posts", posts_path %></button>
			</div>
		</li>	
		</ul>
	</nav>
			<% if user_signed_in? %>
			 <p>Welcome <%= current_user.email %></p>
  			<%= link_to 'Logged In [click to logout]', destroy_user_session_path, :method => :delete %>
			<% else %>
  			<p>You are not signed in.</p>
	
		<% end %>		
		    <% flash.each do |name,msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
			<% end %>
		<%= yield %>
	</div>

	</div>
</body>
</html>